body {
    font-family: "Josefin Sans";
    background-color: aliceblue;
}

.jumbotron {
    margin: 0px auto;
    background: url("../images/snow_jumbo.gif") no-repeat top center;
    background-size: cover;
    color: white;
    border-radius: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/snow_jumbo.gif") no-repeat bottom center;
    background-size: cover;
    font-size: 30px;
    min-height: 20px;
}

#fooTxt {
    float: center bottom: 0;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
}

.letter-button-color {
    color: slategray;
}

.guess-color {
    color: rgb(97, 167, 214);
}

#display,
#scoreboard {
    padding: 10px;
    height: auto;
    width: 220px;
    margin-left: 60px;
}

#buttons {
    background: url("../images/snow_jumbo.gif") no-repeat top left;
    padding: 5px;
}

#clear {
    position: absolute;
    left: 0;
    font-size: 28px;
    color: white;
    border-style: none;
    width: auto;
    height: 100%;
    background-color: rgb(97, 167, 214);
    border: 0px;
}